
/* ***COMMON STYLE**** */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.viola{
    color: #9792e4;
    margin-top: 0.5rem;
}

.bianco{
    color: white;
}

.mrgn-left{
    margin-left: 1.7rem;
}

/* ***HEADER*** */
header{
    background-color: #0084fd;
}

.row{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0; 
}

.fa-solid.fa-bars{
    font-size: 25px;
    color: white;
}

/* ***SECTION DEMO APPLICATION*** */
.section-demo{
    margin-top: 3rem;
}

.container{
    width: 100%;
}

.block{
    width: 85%;
    background-color: #b5ddff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 1.2rem;
}

.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-container img{
    width: 100%;
}

.app{
   width: 60%;
   color: white;
   background-color: #0084fd;
   border: none;
   border-radius: 15px;
   margin: 2rem 1.7rem;
   padding: 0.8rem 3rem;
}

.fa-brands.fa-apple{
    padding-right: 10px;
}

h2{
    color: #0084fd;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight:bold
}

p{
    line-height: 1.5;
    font-size: 18px;
}

.little{
    margin-top: 2rem;
    text-align: center;
    padding: 1.5rem 2rem;
}

.fa-solid.fa-file-code ,
.fa-solid.fa-compass-drafting ,
.fa-solid.fa-laptop-code ,
.fa-solid.fa-bullhorn{
    font-size: 6rem;
    margin-top: 2rem;
    color: #0084fd;
}

/*<!-- ***SECTION PLANNING**** --> */

.section-planning{
    background-color: #9792e4;
    padding: 3rem 0;
    margin-top: 3.5rem;
}

.col{
    width: 85%;
    margin: 0 auto;
    
}

.col h2{
    font-weight: bold;
}

.col.white h2{
    color: black;
}

.col.white{
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 30px;
    padding: 1.5rem 0;
    margin-top: 1rem;
}

.purple{
    padding: 1rem;
    border-radius: 10px;
    margin: 0 auto;
    width: 25px;
    height: 25px;
    background-color: #9792e4 ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*<!-- ***SECTION PARTNERS***** --> */

.section-partners{
    padding: 3rem 0;
}

.text-center{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.text-center h2{
    color: #9792e4;
}

.photo-box{
    width: 90%;
    background-color: #9792e4;
    border-radius: 30px;
    color: white;
    margin: 1rem auto;
    text-align: center;
    padding: 1rem 1.5rem;
}

.circle{
    margin: 0 auto;
}

.photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.testo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    text-align: left;
}
/* <!-- ***SECTION BENEFITS*** --> */

.section-benefits{
    padding: 2rem 0;
    background-color: #9792e4;
}

.section-benefits > h2{
    color: white;
    font-size: 25px;
    text-align: center;
}

.box{
    width: 85%;
    margin: 0 auto;
    background-color: white;
    color: #9792e4;
    margin-top: 2rem;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 1rem;
}

.number{
    font-size: 30px;
    font-weight: bold;
}

.button-more{
    width: 40%;
    background-color: #9792e4;
    color: white;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    border: none;
    margin: 1rem auto;
}

/* ***SECTION ABOUT US*** */

.section-aboutUs{
    padding: 2rem 0;
}

.linkedin{
    background-color: #9792e4;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.help{
    margin-top: 2rem;
}

/* ***SECTION ITS FREE*** */

.section-free{
    background-color: #9792e4;
    text-align: center;
    padding: 2rem 1rem;
}

.section-free h2{
    color: white;
}

h1{
    font-size: 40px ;
    color: #fdc15f;
    margin: 1.5rem;
}

.started{
    margin: 1.5rem;
    background-color: white;
    color: #9792e4;
    border: none;
    border-radius: 20px;
    padding: 0.6rem 2.5rem;
}

/* ***FOOTER*** */

footer{
    background-color: black;
    color: #9c9c9c;
    padding: 2rem 2rem;
    text-align: center;
}


/* ****MEDIA QUERIES*** */

@media screen and (min-width: 768px) {
    .block{
        width: 65%;
        margin: 0 ;
    }
    .block.little{
        width: calc(100% / 3 - 10px);
        margin: 0 ;
    }
    .container{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin: 0 auto;
    }
    h2{
       font-size: 36px;
    }
    .photo-box{
        display: flex;
    }
    p{
        font-size: 22px;
    }

    .box{
        width: 48%;
    }
    .section-aboutUs{
        display: flex;
        justify-content: space-around;
    }
    .column{
        width: 40%;
    }

    .div-foot{
        margin: 0 auto;
        width: 60%;
    }
}




